@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --seconday-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: #ffee63;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* header section  */

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 51, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color);
}

.nav-bar {
    padding: 30px 0;
}


/* SJ CSS RESPONSive.. */

.toggle-btn {
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}

.toggle-btn span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: white;
    /* float: left; */
    margin-bottom: 8px;
}


/* END SJ CSS RESPONSive.. */


/* SJ For logo animation */

.logo_html {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    background: rgb(60, 76, 246);
    border-radius: 50%;
    overflow: hidden;
}

.logo_html::before {
    content: counter(name);
    position: absolute;
    inset: -10px 10px;
    background: linear-gradient(115deg, #fff, #de0505ed);
    transition: 0.5s;
    animation: animat 4s linear infinite;
}

.logo_html:hover::before {
    inset: -10px 0px;
}

@keyframes animat {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo_html::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: linear-gradient(to left, #040404, #242424, #656565);
    border-radius: 50%;
    z-index: 0;
}

.Contant_SJ {
    position: absolute;
    align-items: center;
    font-size: 27px;
    inset: 7px;
    background: 6px solid #3345e8;
    z-index: 4;
    border-radius: 50%;
    overflow: hidden;
    right: 2%;
    /* top: 2%; */
    left: 20%;
    /* font-size: 20px; */
    /* Adjust the font size as needed */
    /* top: 50%; */
    /* Center vertically */
    /* left: 2.5%; */
    /* bottom: 2.9%; */
    /* Center horizontally */
    /* transform: translate(-50%, -50%); */
}

.Contant_SJ span {
    position: absolute;
    /* bottom: 2px; */
    /* top: 2px; */
    /* left: 2.5%; */
    padding-left: 2%;
    /* right: 1.2%; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    font-size: 28px;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    /* padding: n; */
    /* float: left; */
    margin: 7px;
}


/* END SJ Code end logo animation */

span {
    color: var(--red-color);
}

ul li a {
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

ul li a::before {
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.6s ease;
}

ul li a:hover::before {
    width: 100%;
}


/* button  */

.btn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-color);
}


/* header content  */

.content {
    height: 90vh;
    position: relative;
}

.content .right img {
    width: 120%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
    mix-blend-mode: darken;
}

.content .right img:hover {
    filter: drop-shadow(16px 5px 20px burlywood);
}

h4,
p {
    font-family: 'Poppins', sans-serif;
}


/* Code of S.J, For animation img */

.right-flex3 {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgb(2, 0, 36);
    border-radius: 50%;
    overflow: hidden;
}

.right-flex3::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #fff, #de0505ed);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.right-flex3:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

.right-flex3::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: linear-gradient(to right, #040404, #242424, #656565);
    border-radius: 50%;
    z-index: 1;
}

.circle-img {
    position: absolute;
    inset: 30px;
    background: 6px solid #3345e8;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.circle-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}


/* Code End.. SJ/* Code of S.J, For animation img */


/* about sec  */

.about-me-sec {
    min-height: 100vh;
    background-color: var(--secondary-shade);
    color: var(--primary-color);
}

.about-me-sec hr {
    border: 2px solid red;
    margin-bottom: 2rem;
}

.about-content img {
    width: 100%;
    transform: scaleX(-1);
}

.about-content ul {
    margin-top: 25px;
    margin-bottom: 10px;
}

.about-content span {
    color: #C6DCE4;
}


/* Colour changing dots */

.dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    /* border: none; */
}

#dot_1.dot-w {
    background-color: var(--primary-color);
}

#dot_2.dot-b {
    background-color: var(--seconday-color);
}

#dot_3.dot-ws {
    background-color: var(--primary-shade);
}

#dot_4.dot-bs {
    background-color: #C6DCE4;
}

#dot_5.dot-a {
    background-color: var(--accent-color);
}


/* project sec  */

.project-sec {
    height: 110vh;
    background-color: burlywood;
}

.project>h3 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.project-parent {
    gap: 30px;
}

.project-child {
    border: 1px solid var(--red-color);
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.project-child:hover {
    transform: scale(1.1);
    background-color: lavender;
}

.project-child h3 {
    margin-top: 10px;
}

.project-child p {
    margin-top: 5px;
    line-height: 1.4;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.project-child button {
    margin: 15px;
}


/* END project sec  */


/* experience sec  */

.experience-sec {
    height: 35vh;
    background-color: var(--secondary-shade);
    color: var(--primary-color);
}

.experience {
    padding: 0 30px 0 30px;
}

.experience-details {
    border-bottom: 2px solid var(--red-color);
    padding-bottom: 30px;
    margin-top: 40px;
}

.col p {
    padding-top: 14px;
    text-transform: uppercase;
}


/* testimonial section  */

.testimonial-sec {
    height: 90vh;
    background-color: burlywood;
}

.testimonial-parent {
    min-height: 75vh;
}

.review-sec {
    margin-top: 40px;
}

.review-sec .icon-sec i {
    color: #d40700;
}

.designation {
    color: #b20600;
    margin-top: 3px;
}


/* contact us  */

.contact-us-sec {
    background-color: darkgray;
    height: 50vh;
    padding: 35px 0;
}

.contact-us h3 {
    color: var(--primary-color);
}

.contact-details {
    padding-top: 4rem;
}

.contact-details h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

#email-id {
    width: 226px;
    height: 28px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 2px 12px;
}

.right-sec input {
    margin-left: 10px;
}

.right-sec button {
    margin-left: 35px;
    margin-top: 15px;
}

footer {
    background-color: var(--secondary-shade);
    padding: 10px 0;
    color: burlywood;
}

#click,
.menu-btn i {
    display: none;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.icon {
    font-size: 44px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

#icon_4 :hover {
    color: #007bff;
    /* Change the color on hover if desired */
}

#icon_3:hover {
    color: #1a05a1;
}

#icon_2:hover {
    color: #ef2f2f;
}

#icon_1:hover {
    color: rgb(227, 141, 27);
}

@media (max-width: 768px) {
    .content {
        position: relative;
    }
    .content .right-flex3 {
        position: absolute;
        /* float: right; */
        top: 10px;
        right: 0px;
    }
    .toggle-btn {
        width: 35px;
        position: absolute;
        right: 80px;
        top: 40px;
        display: inline-block;
    }
    .toggle-btn span {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: white;
        /* float: left; */
        margin-bottom: 8px;
    }
    .flex ul {
        display: none;
        width: 100%;
        border-top: 1px solid red;
        padding-top: 20px;
        margin-top: 30px;
    }
    .flex ul li {
        padding: 15px 0px;
        width: 100%;
    }
    .flex ul .show {
        display: block;
    }
    .project-parent {
        position: relative;
    }
    .project-parent #project-child-3 {
        position: absolute;
        top: 250px;
        float: right;
    }
    @media (max-width:702px) {
        .contact-details {
            padding: 0px;
        }
        .center-sec {
            top: 0px;
        }
        .col {
            margin: 15px;
        }
        .col hr {
            display: none;
        }
        .colour-use {
            display: none;
        }
        .toggle-btn {
            right: 20px;
            /* margin-right: 0%; */
        }
        .right-flex3 {
            position: relative;
            width: 250px;
            height: 250px;
            background: rgb(2, 0, 36);
            border-radius: 50%;
            overflow: hidden;
        }
        .right-flex3::before {
            content: '';
            position: absolute;
            inset: -10px 90px;
            background: linear-gradient(315deg, #fff, #de0505ed);
            transition: 0.5s;
            animation: animate 4s linear infinite;
        }
        .content {
            padding-top: 50px;
        }
        .flex2 {
            margin-top: 80px;
            float: left;
        }
        .layout {
            padding: 5px;
        }
        /*  */
        .project-sec {
            height: 140vh;
            background-color: burlywood;
        }
        .project>h3 {
            color: var(--primary-color);
            margin-bottom: 50px;
        }
        .project-parent {
            padding-top: 5%;
            padding-bottom: 5%;
            /* gap: 30px;
            padding-top: 20px;
            margin-top: 70px;
            margin-bottom: 20px; */
        }
        .project-child {
            border: 1px solid var(--red-color);
            border-radius: 8px;
            transition: 0.3s ease;
            cursor: pointer;
            margin-top: 30%;
            /* margin-bottom: 70%; */
        }
        .project-parent #project-child-3 {
            position: absolute;
            top: 450px;
            float: right;
            /* margin: 5px; */
            margin-bottom: 30px;
        }
        .project-parent #project-child-2 {
            position: absolute;
            top: 200px;
            float: right;
        }
        .project-parent #project-child-1 {
            position: absolute;
            top: 1px;
            float: right;
            margin: 5px;
        }
    }
    #project-child-3 {
        border: 1px solid var(--red-color);
        border-radius: 8px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    #project-child-3:hover {
        transform: scale(1.1);
        background-color: lavender;
        /* display: none; */
    }
    #project-child-3 h3 {
        margin-top: 10px;
    }
    #project-child-3 p {
        margin-top: 5px;
        line-height: 1.4;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    #project-child-3 button {
        margin: 15px;
    }
    .contact-us-sec {
        background-color: darkgray;
        height: 70vh;
        padding: 35px;
    }
}

/*@media (max-width:402px) {
    /* Code of S.J, For animation img 
    .right-flex3 {
        position: relative;
        width: 230px;
        height: 230px;
        background: rgb(2, 0, 36);
        border-radius: 50%;
        overflow: hidden;
    }
    .right-flex3::before {
        content: '';
        position: absolute;
        inset: -10px 70px;
        background: linear-gradient(315deg, #fff, #de0505ed);
        transition: 0.5s;
        animation: animate 4s linear infinite;
    }
    .right-flex3:hover::before {
        inset: -20px 0px;
    }
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
    }
    .right-flex3::after {
        content: '';
        position: absolute;
        inset: 6px;
        background: linear-gradient(to right, #040404, #242424, #656565);
        border-radius: 50%;
        z-index: 1;
    }
    .circle-img {
        position: absolute;
        inset: 30px;
        background: 6px solid #3345e8;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
    }
    .circle-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        pointer-events: none;
    }
    /* Code End.. SJ/* Code of S.J, For animation img */
}*/


/* 
@media (max-width:702px) {
    
    .contact-details {
        display: flex;
    }
    .social-icons {
        top: 0%;
        bottom: 30%;
    } */
